[uwsgi]
socket = /home/ubuntu/generalbackend/app.sock
chmod-socket = 666
vacuum = true
master = true
enable-threads = true
processes = 4
module = generalbackend.wsgi.application